.about_text{
    text-align: center;
    padding: 50px;
  }
  
  .about_head{
  background: rgba(171, 175, 116, 0.575);
  height: 30px;
  font-weight: bold;
  text-align: center;
  font-size: 20px;
  padding: 10px;
  }
  .about_footer{
    background: rgba(171, 175, 116, 0.575);
    height: 30px;
    font-weight: bold;
    text-align: center;
    font-size: 20px;
    padding: 10px;
    }